:root {
  --color-Primary-50:  #fcf3f9;
  --color-Primary-100: #fbe8f6;
  --color-Primary-200: #f9d1ed;
  --color-Primary-300: #f5acde;
  --color-Primary-400: #ee78c6;
  --color-Primary-500: #e450ad;
  --color-Primary-600: #d2308e;
  --color-Primary-800: #b62073;
  --color-Primary-800: #9a1e61;
  --color-Primary-900: #7e1d51;
  --color-Primary-950: #4d0a2e;
  --color-Secondary-50: #fff3e7;
  --color-Secondary-100: #ffebd5;
  --color-Secondary-200: #fed2aa;
  --color-Secondary-300: #fdb274;
  --color-Secondary-400: #fb873c;
  --color-Secondary-500: #f96616;
  --color-Secondary-600: #ea4c0c;
  --color-Secondary-700: #c2370c;
  --color-Secondary-800: #9a2c12;
  --color-Secondary-900: #7c2712;
  --color-Secondary-950: #431107;
}

.text-Primary-50  { color: var( --color-Primary-50  ) ; }
.text-Primary-100 { color: var( --color-Primary-100 ) ; }
.text-Primary-200 { color: var( --color-Primary-200 ) ; }
.text-Primary-300 { color: var( --color-Primary-300 ) ; }
.text-Primary-400 { color: var( --color-Primary-400 ) ; }
.text-Primary-500 { color: var( --color-Primary-500 ) ; }
.text-Primary-600 { color: var( --color-Primary-600 ) ; }
.text-Primary-800 { color: var( --color-Primary-800 ) ; }
.text-Primary-800 { color: var( --color-Primary-800 ) ; }
.text-Primary-900 { color: var( --color-Primary-900 ) ; }
.text-Primary-950 { color: var( --color-Primary-950 ) ; }
.bg-Primary-50  { background-color: var( --color-Primary-50  ) ; }
.bg-Primary-100 { background-color: var( --color-Primary-100 ) ; }
.bg-Primary-200 { background-color: var( --color-Primary-200 ) ; }
.bg-Primary-300 { background-color: var( --color-Primary-300 ) ; }
.bg-Primary-400 { background-color: var( --color-Primary-400 ) ; }
.bg-Primary-500 { background-color: var( --color-Primary-500 ) ; }
.bg-Primary-600 { background-color: var( --color-Primary-600 ) ; }
.bg-Primary-800 { background-color: var( --color-Primary-800 ) ; }
.bg-Primary-800 { background-color: var( --color-Primary-800 ) ; }
.bg-Primary-900 { background-color: var( --color-Primary-900 ) ; }
.bg-Primary-950 { background-color: var( --color-Primary-950 ) ; }

.text-Secondary-50  { color: var( --color-Secondary-50  ) ; }
.text-Secondary-100 { color: var( --color-Secondary-100 ) ; }
.text-Secondary-200 { color: var( --color-Secondary-200 ) ; }
.text-Secondary-300 { color: var( --color-Secondary-300 ) ; }
.text-Secondary-400 { color: var( --color-Secondary-400 ) ; }
.text-Secondary-500 { color: var( --color-Secondary-500 ) ; }
.text-Secondary-600 { color: var( --color-Secondary-600 ) ; }
.text-Secondary-700 { color: var( --color-Secondary-700 ) ; }
.text-Secondary-800 { color: var( --color-Secondary-800 ) ; }
.text-Secondary-900 { color: var( --color-Secondary-900 ) ; }
.text-Secondary-950 { color: var( --color-Secondary-950 ) ; }
.bg-Secondary-50  { background-color: var( --color-Secondary-50  ) ; }
.bg-Secondary-100 { background-color: var( --color-Secondary-100 ) ; }
.bg-Secondary-200 { background-color: var( --color-Secondary-200 ) ; }
.bg-Secondary-300 { background-color: var( --color-Secondary-300 ) ; }
.bg-Secondary-400 { background-color: var( --color-Secondary-400 ) ; }
.bg-Secondary-500 { background-color: var( --color-Secondary-500 ) ; }
.bg-Secondary-600 { background-color: var( --color-Secondary-600 ) ; }
.bg-Secondary-700 { background-color: var( --color-Secondary-700 ) ; }
.bg-Secondary-800 { background-color: var( --color-Secondary-800 ) ; }
.bg-Secondary-900 { background-color: var( --color-Secondary-900 ) ; }
.bg-Secondary-950 { background-color: var( --color-Secondary-950 ) ; }

body {
  font-weight: 900;
  font-family:
    PlusJakartaSans ,
    calibre ,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

html, 
body , #application{
  @apply h-full
}